<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PuTTY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PuTTY.Properties.Settings>
            <setting name="PuTTY_Session_Store" serializeAs="String">
                <value>Registry;HKEY_CURRENT_USER\\Software\\9bis.com\\KiTTY\\Sessions</value>
            </setting>
            <setting name="PuTTY_Path" serializeAs="String">
                <value>C:\\Inetpub\\downloads\\kitty\\kitty.exe</value>
            </setting>
        </PuTTY.Properties.Settings>
    </applicationSettings>
</configuration>